<fieldset style="text-align: center">
    <h1>Benvenuto/a ADMIN!</h1>
    <br>
    <form action="/action_page.php">
        <br><br>
        <input type="button" id="fname" name="fname" value="Aggiungi Dipendente" (click)="aggiungiDipendente()">
        <br><br>
        <input type="button" id="fname" name="fname" value="Aggiungi Contratto" (click)="aggiungiContratto()">
        <br><br>
        <input type="button" id="lname" name="lname" value="Visualizza lista Dipendenti" (click)="elencoDipendenti()">
        <br><br>
        <input type="button" id="lname" name="lname" value="Visualizza lista Dipendenti con Contratto" (click)="elencoDipendentiConContratto()">
        <br><br>
        <input type="button" id="lname" name="lname" value="Visualizza lista Contratti" (click)="elencoContratti()">
        <br><br>
    </form>
    <br><br><br>


</fieldset>