<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<link href="https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap" rel="stylesheet">
<img src="/assets/images/arancio.jpg" alt="arancio" class="arancio">
<img src="/assets/images/orangeline.png" alt="arancio" class="arancio">
<br>
<button *ngIf='authService.isLoggedIn$ | async'>
<a href='#'  (click)='authService.logout()'>Log Out</a>
</button>
<br>

<router-outlet></router-outlet>
