
<form action="action_page.php" method="post">
    <div class="imgcontainer">
      <img src="/assets/images/img_avatar2.png" alt="Avatar" class="avatar">
    </div>
  
    <div class="container">
      <label for="uname"><b>Email</b></label>
      <input type="text" [(ngModel)]="model.email" name="email" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" [(ngModel)]="model.password" name="email" required>
  
      <button type="button" *ngIf='!(authService.isLoggedIn$ | async)' (click)="login(model)" >Login</button>

      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
      <span class="psw">Forgot <a routerLink="/resetPassword">password?</a></span>
    </div>
  
   <br>
   <br>
   <br>
      
      
  
  </form>