<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="it.exolab.mapper.ContrattoMapper">




	<select id="selectAll" resultType="it.exolab.model.Contratto">
		SELECT
		* FROM contratti
	</select>
	
	<select id="selectByTipologia" resultType="it.exolab.model.Contratto">
		SELECT
		* FROM contratti
		WHERE tipologia = #{tipologia}
	</select>
	
	<select id="selectById" resultType="it.exolab.model.Contratto">
		SELECT
		* FROM contratti
		WHERE id_contratto = #{id_contratto}
	</select>


	<insert id="insert" parameterType="it.exolab.model.Contratto"
		useGeneratedKeys="true" keyProperty="id_contratto"
		keyColumn="id_contratto">
		INSERT into
		contratti (data_assunzione,
		data_scadenza,
		tipologia, id_dipendente_fk)
		VALUES
		(#{data_assunzione},
		#{data_scadenza}, #{tipologia}, #{id_dipendente_fk});
	</insert>


	<delete id="delete" parameterType="int">
		delete FROM contratti where
		id_contratto = #{id_contratto}
	</delete>



	<update id="update" parameterType="it.exolab.model.Contratto">
		update contratti set
		data_assunzione=#{data_assunzione}, data_scadenza=#{data_scadenza},
		tipologia=#{tipologia},
		id_dipendente_fk=#{id_dipendente_fk}
		where
		id_contratto = #{id_contratto}
	</update>


</mapper>