<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="it.exolab.mapper.PresenzaMapper">


	<insert id="insert" parameterType="it.exolab.model.Presenza"
		useGeneratedKeys="true" keyProperty="id_presenza"
		keyColumn="id_presenza">
		INSERT into
		presenze (id_dipendente_fk,data, ore_lavorate,
		ore_assenza,
		motivazione_assenza_fk,
		id_mese_fk)
		VALUES
		(#{id_dipendente_fk},
		#{data}, #{ore_lavorate}, #{ore_assenza},
		#{motivazione_assenza_fk}, #{id_mese_fk});
	</insert>

	<update id="update" parameterType="it.exolab.model.Presenza">
		update presenze set
		data=#{data}, motivazione_assenza_fk=#{motivazione_assenza_fk},
		id_dipendente_fk=#{id_dipendente_fk},
		ore_lavorate=#{ore_lavorate},
		ore_assenza=#{ore_assenza},
		id_mese_fk=#{id_mese_fk}
		where id_presenza =
		#{id_presenza}
	</update>

	<delete id="delete" parameterType="int">
		delete FROM presenze
		where
		id_presenza = #{id_presenza}
	</delete>


	<select id="selectByData" resultType="it.exolab.model.Presenza">
		SELECT *
		FROM presenze
		WHERE
		data=#{data}
	</select>

	<select id="selectByMese" resultType="it.exolab.model.Presenza">
		SELECT *
		FROM presenze
		WHERE
		
	</select>

	<select id="selectByDipendente"
		resultType="it.exolab.model.Presenza">
		SELECT *
		FROM presenze
		WHERE
		id_dipendente_fk=#{id_dipendente_fk}
	</select>

	<select id="selectByAssenza"
		resultType="it.exolab.model.Presenza">
		SELECT *
		FROM presenze
		WHERE
		motivazione_assenza_fk=#{motivazione_assenza_fk}
	</select>

	<select id="selectAll" resultType="it.exolab.model.Presenza">
		SELECT *
		FROM presenze
	</select>

	<select id="ricercaIdDelMese" resultType="int">
		SELECT id_mese
		FROM mesi
		WHERE YEAR(mese)=YEAR(#{data}) AND MONTH(mese)=MONTH(#{data});
	</select>
	
	<select id="presenzeJoinmesi"
		resultType="it.exolab.model.Presenza">
		SELECT p.*
		FROM mesi m inner join presenze p ON
		p.id_mese_fk = m.id_mese
		WHERE YEAR(mese)=YEAR(#{data}) AND MONTH(mese)=MONTH(#{data}) AND p.id_dipendente_fk=#{id_dipendente_fk};
	</select>

</mapper>