<div class="position-absolute top-50 start-50 translate-middle">

<form>
    <fieldset>
        <legend>Inserisci Contratto</legend>


        <label for="data_assunzione">Data Assunzione</label><br>
        <input type="date" [(ngModel)]="model.data_assunzione" name="data_assunzione" /><br />
        <br>

        <form action="javascript:;">
            <div class="form-group" *ngIf="isDeterminato">
                <label for="date">Data Scadenza </label><br>
                <input type="date" [(ngModel)]="model.data_scadenza" class="form-control" name="data_scadenza">
            </div>

            <br>

            <label for="tipologia">Tipologia</label><br>
            <select (change)="selectInput($event)" [(ngModel)]="model.tipologia" name="tipologia">
                <option value="a progetto">a progetto</option>
                <option value="determinato">determinato</option>
                <option value="indeterminato">indeterminato</option>
                <option value="stagionale">stagionale</option>
               
            </select>
            <br />
            <br>
            <br>
            <label for="id_dipendente_fk">ID Dipendente</label><br>
            <input type="number" [(ngModel)]="model.id_dipendente_fk" name="id_dipendente_fk" /><br />

            <br />

            <br />


            <hr />
            <input type="button" class="btn btn-success" name="buttonSalva" (click)="salva()" value="Salva" /><br />

            <hr/>
            <input type="button" class="btn btn-danger" value="Annulla" routerLink="/adminLoggedIn">

        </form>

 