<h1>Lista Contratti</h1>

<body>

	<h3>Cerca per Tipologia:</h3>
	  
		<td><select [(ngModel)]="tipologia" name="tipologia" (click)="byTipologia(tipologia)">
		  <option value="a progetto">a progetto</option>
		  <option value="determinato">determinato</option>
		  <option value="indeterminato">indeterminato</option>
		  <option value="stagionale">stagionale</option>
		 
	  </select></td>
	  <ng-container *ngIf="showButton">
	  <button class="btn btn-info" type="button" (click)="elencoContratti()">Mostra tutti</button>
	</ng-container>
		<br>
	
	<div class="container">
		<table class="table">
		  <thead>
			<tr>
			  <th scope="col">Data assunzione</th>
			  <th scope="col">Data scadenza</th>
			  <th scope="col">Tipologia</th>
			  <th scope="col">Id Dipendente</th>
			  <th scope="col">-AZIONI-</th>
			</tr>
		  </thead>
		  <tbody>
			<ng-container *ngFor="let c of listaContratti; index as i;">
				
			  <tr>
				<ng-container *ngIf="enableEditIndex != i">
				  <td>{{c.data_assunzione | date: 'yyyy-MM-dd'}}</td>
				  <td>{{c.data_scadenza | date: 'yyyy-MM-dd'}}</td>
				  <td>{{c.tipologia}}</td>
				  <td>{{c.id_dipendente_fk}}</td>
				  <td *ngIf="enableEditIndex != i">
					<button class="btn btn-info" type="button" (click)="switchEditMode(i)">Modifica</button>

				  </td>
				</ng-container>
				<ng-container *ngIf="enableEditIndex == i">
				  <td><input [(ngModel)]="c.data_assunzione " type="date" /></td>
				  <td><input *ngIf="c.tipologia == 'indeterminato' " [disabled]="true" [(ngModel)]="c.data_scadenza" type="date" />
				 <input *ngIf="c.tipologia != 'indeterminato' " [disabled]="false" [(ngModel)]="c.data_scadenza" type="date" /></td>
				  <td><select (change)="selectInput($event)" [(ngModel)]="c.tipologia" name="tipologia">
					<option value="a progetto">a progetto</option>
					<option value="determinato">determinato</option>
					<option value="indeterminato">indeterminato</option>
					<option value="stagionale">stagionale</option>
				   
				</select></td>

				

				  <td><input [(ngModel)]="c.id_dipendente_fk" type="number" /></td>
				  <td><button class="btn btn-success" (click)="save(c)">Conferma</button></td>
				  <td><button class="btn btn-warning" type="button" (click)="cancel()">Annulla</button></td>

				  
				</ng-container>
			  </tr>
			 
				
			</ng-container>
		  </tbody>
		</table>
	  </div>
	  <hr/>
	 
	  <input type="button" class="btn btn-primary" value="Indietro" (click)="back()">
		
   </body>